<header class="navbar navbar-static-top koningsschutters-navbar" id="top" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".koningsschutters-navbar-collapse">
				<span class="sr-only">Toggle</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button> <!-- /.navbar-toggle -->

			{% if site_name %}
			<a href="{{ front_page }}" class="navbar-brand" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
			{% endif %}
		</div> <!-- /.navbar-header -->

		<div class="collapse navbar-collapse koningsschutters-navbar-collapse" role="navigation">
			{{ page.primary_menu }}
			{{ page.secondary_menu }}
		</div> <!-- /.collapse /.navbar-collapse /.koningsschutters-navbar-collapse -->
	</div> <!-- /.container -->
</header> <!-- /.navbar /.navbar-static-top /.koningsschutters-navbar /#top -->

{% if not hide_site_name %}
<div class="koningsschutters-site-header">
	<div class="container">
	</div> <!-- /.container -->
</div> <!-- /.koningsschutters-site-header -->
{% endif %}

<div class="container koningsschutters-site-container">
	<div class="row">
		<main class="col-sm-9 col-md-9" role="main">
			{{ messages }}

			{{ tabs }}

			{{ page.content|without('field_header_tekst') }}
		</main> <!-- /.col-md-9 -->

		<aside class="col-sm-3 col-md-3">
			{{ page.sidebar }}
		</aside> <!-- /.col-md-3 -->
	</div> <!-- /.row -->
</div> <!-- /.container /.koningsschutters-site-container -->

<footer class="koningsschutters-site-footer">
	<section class="koningsschutters-site-footer-top">
		<div class="container">
			<div class="col-md-3">
				{% if page.footer_one %}
				{{ page.footer_one }}
				{% endif %}
			</div> <!-- /.col-md-3 -->

			<div class="col-md-3">
				{% if page.footer_two %}
				{{ page.footer_two }}
				{% endif %}
			</div> <!-- /.col-m-d-3 -->

			<div class="col-md-3">
				{% if page.footer_three %}
				{{ page.footer_three }}
				{% endif %}
			</div> <!-- /.col-md-3 -->

			<div class="col-md-3">
				{% if page.footer_four %}
				{{ page.footer_four }}
				{% endif %}
			</div> <!-- /.col-md-3 -->
		</div> <!-- /.container -->

		{% if page.footer %}
		<div class="container">
			<div class="col-md-12">
				{{ page.footer }}
			</div> <!-- /.col-md-12 -->
		</div> <!-- /.container -->
		{% endif %}
	</section> <!-- /.koningsschutters-site-footer-top -->

	<section class="koningsschutters-site-footer-bottom">
		<div class="container">
			<ul class="koningsschutters-site-footer-links">
				<li>&copy; S.V. Koningsschutters</li>
				<li>&middot;</li>
				<li>S.V. Koningsschutters is bekroond met een <em>KNSA Kroon</em></li>
			</ul> <!-- /.koningsschutters-site-footer-links -->
		</div> <!-- /.container -->
	</section> <!-- /.koningsschutters-site-footer-bottom -->
</footer> <!-- /.koningsschutters-site-footer -->